.high {
    border-left: 5px solid red;
}

.medium {
    border-left: 5px solid orange;
}

.low {
    border-left: 5px solid yellow;
}

.alert-box {
    background: #1f2937;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}